

  {% extends "class/base.html" %}

  {% block title %}
      {{ classroom.title }}
  {% endblock %}

  {% block main %}
  {% if user.is_authenticated %}
      <h1>{{ classroom.title }}</h1>

      <div class="container text-left">
          <div class="row align-items-start">
            <div class="col">
              Classroom code: <br>
              <b>{{ classroom.join_code }}</b>
            </div>
            <div class="col">
              <b><u>Assignments</u></b>
              <ul>
                {% for a in assignments %}
                <li>{{ a.title }} - {{ a.description }}</li>
                <br>
                {% endfor %}
              </ul>
            </div>
            <div class="col">
              <strong><a href="{% url 'notes' %}">Notes</a></strong>
            </div>
      </div>
    {% else %}

<h1>Access Denied</h1>
<p>Login to view this page</p><a href="{% url 'login' %}">Click here!</a>

{% endif %}
      
  {% endblock %}

