<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>

    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: center;
          padding: 8px;
        }
    </style>
    

</head>
<body>
    <h1>Get Notified</h1>

    <table>
        <tr>
          <th>Notifications</th>
        </tr>

        {% for a in files %}

        <tr>
            <td>{{ a.text }} <small> - published at {{ a.time }}</small>
        </tr>

        {% endfor %}

        
      </table>

    

</body>
</html>
