<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post assignment</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-nU14brUcp6StFntEOOEBvcJm4huWjB0OcIeQ3fltAfSmuZFrkAif0T+UtNGlKKQv" crossorigin="anonymous">

</head>
<body>

{% if user.is_authenticated %}
{% if request.user.profile.role == "teacher" %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <strong>MIST</strong>
          </a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">            
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
            </ul>
          </div>
      </div>
    </nav>

    <h1>Notes Uploaded!</h1>
    <p>
        <a href="/dashboard/view_classrooms/">click here</a> to return to classroom
    </p>
    {% else %}

    <h1>Authorized Personel only!</h1>

{% endif %}

{% else %}

    <h1>Login to access this page - <a href="{% url 'login' %}">Login here</a></h1>
    
{% endif %}


    
</body>
</html>
